<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styleEJS.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="icon" href="/css/weatherIcon.png">


  <title>Weather</title>
</head>

<body>
  <div class="row g-3">
    <div class="col-auto">
      <img src="css/cloud.png" alt="cloud">
    </div>
    <div class="col-auto">
      <h1>Weather</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <h3 class="h3Invisible">The temperature in <%= city %> is <%= temperature %> °C!</h3>
    </div>
  </div>
  <form action="/" method="post" class="row g-3 formOne">
    <div class="col-auto city">
      <input class="form-control" type="text" name="city" placeholder="City name">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-dark mb-3">Submit</button>
    </div>
  </form>

</body>

</html>
